body{
	background-color: grey;	
	background: url(../imgs/rst.jpg) no-repeat ;
	-webkit-background-size:cover;
	background-size: cover;

}
.tab-content>div{
	height: 500px;
}
div .btn-prod{
	margin-right: 3%;
	margin-left: 3%;
	margin-bottom: 2.5%;
	float: left;
	width: 200px;
	animation: pop 1.2s linear infinite alternate;
  -webkit-animation: pop 1.2s linear infinite alternate;
}
div .btn-prod>img{
	height: 150px;
	width: 200px;
	border-radius:50%;

}
div .btn-prod>img:active{
	opacity: .7;	
}
div .btn{
	margin: 25px; 
	border-radius: 25px;  
}

div #comandas{
	position: absolute;
	top: 45px;	
}
.nav-tabs>li>a{
	height:70px;
	padding-top: 25px;
	font-size: 25px;
}
div #menu_comanda{	
	display: none;
	position: absolute;
	top: -5px;	
	background-color: lightgrey;
	width: 100%;
	height: 0px;	
	opacity: 0;
	overflow: auto;
	margin-right: 20%;
}
#tabla_comanda {
	float: left;
	position: absolute;
	width: 330px;
	background-color: white;
}

#ingresa_comanda{
	margin-left: 4%;
	height: 80px;
}

#cancel_comanda{
	margin-left: 22%;
	height: 80px;
}
.tab-content{
	background-color: white;
}
#tabs-comanda{
	margin-left: 18%;
}


#regresar{
  width: 250px;
  height: 100px;
  opacity: .60;
  box-shadow: 2px 2px 5px #888888;
  /*background-color: orange;*/
  text-align: center;
  margin-top: 40%;
  
  background-color: white;
  animation: anima 1.2s linear infinite alternate;
  -webkit-animation: anima 1.2s linear infinite alternate;

}


@-webkit-keyframes anima{
  from{ -webkit-transform:skew(-3deg,-3deg);}
  to{ -webkit-transform:skew(3deg,3deg);}
}
@keyframes anima{
  from{transform:skew(-3deg,-3deg);}
  to{ transform:skew(3deg,3deg);}
}
@-webkit-keyframes pop{
  from{ -webkit-transform:scale(1,1);}
  to{ -webkit-transform:scale(1.05,1.05);}
}
@keyframes pop{
  from{transform:scale(1,1);}
  to{ transform:scale(1.05,1.05);}
}


#regresar >h5{
  color:darkred;
  font-size: 25pt;
}

#cobra_mesa{
	margin-left: 32%;
	height: 80px;
}