body{
	background-color: grey;
	display: block;
	position: absolute;
}

div .btn{
	margin: 25px; 
	border-radius: 25px;  
}

div #menu_comanda{	
	position: fixed;
	background-color: red;
	width: 100%;
	height: 1080px;	
}

