<!DOCTYPE html>
<html lang="es" ng-app="restComandas">
<head>
	<meta charset="UTF-8">
	<title>Comandas</title>
	<script src="js/angular.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.css">	
	<link rel="stylesheet" href="css/comandas.css">
</head>
<body ng-controller="ComandasController as comandasCtrl">
	
	
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<p class="navbar-text">Comanda a realizar por mesero: {{"Mykro"}}</p>

			<ul class="nav navbar-nav">
				<!-- <li class="active">
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">Link</a>
				</li> -->					
			</ul>
			<ul class="nav navbar-nav navbar-right">
				
				<li><a href="index.html">Cerrar Sesión</a></li>
			</ul>
		</div>
	</nav>
	<div class="container-fluid" >
		<div id="comandas">
			<div ng-click="comandasCtrl.mesaClk(mesa.id)" class="btn-mesa btn"  ng-class="{'btn-success': mesa.edo==0,'btn-danger': mesa.edo==1 , 'btn-warning': mesa.edo==2}" ng-repeat="mesa in comandasCtrl.mesas" id="mesa{{mesa.id}}">
				<h3>{{mesa.id}}</h3>
				<img src="imgs/table.png" height="75px">
				<h3>Sillas: {{mesa.numSillas}}</h3>
			</div>
		</div>
	</div>	
	<div>
		<div class="container-fluid" id="menu_comanda">
			<br>
			<br>
			<br>
			<div class="container" role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs nav-justified" role="tablist">
					<li role="presentation" ng-repeat="cat in comandasCtrl.categos" ng-class="{true: 'active'}[cat.id == 1]">
						<a href="#{{cat.nombre}}" aria-controls="{{cat.nombre}}" role="tab" data-toggle="tab">{{cat.nombre | capitalize}}</a>
					</li>
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
					<div ng-repeat="cat in comandasCtrl.categos" role="tabpanel" class="tab-pane " id="{{cat.nombre}}" ng-class="{true: 'active'}[cat.id == 1]">
						<table class="table table-striped ">
							<thead>
								<tr>
									<th>Producto</th>
									<th>Precio</th>
									<th>Descripcion</th>
									<th>Cantidad</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="prod in comandasCtrl.prods"  ng-if="cat.id==prod.idCategoria">
									<td hidden>{{prod.id}}</td>
									<td>{{prod.nombre}}</td>
									<td >{{prod.precio | currency}}</td>
									<td>{{prod.desc}}</td>
									<td>
										<div ng-click="prod.cantidad=prod.cantidad+1" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></div>
										{{prod.cantidad}}
										<div ng-click="prod.cantidad=prod.cantidad-1" class="btn btn-primary"><span class="glyphicon glyphicon-minus"></span></div>
									</td>
								</tr>												
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="tab">
						
					</div>
				</div>
			</div>
			<div id="btns_comanda" class="container" >
				<div id="ingresa_comanda" ng-click="comandasCtrl.mandaComanda(); comandasCtrl.ingresaComanda()" class="btn btn-primary col-md-4">
					<span class="glyphicon glyphicon-plus"></span><br>Ingresar comanda
				</div>
				<div ng-click="comandasCtrl.resetCantidad(); comandasCtrl.cancelComanda()" id="cancel_comanda" class="btn btn-danger col-md-4">
					<span class="glyphicon glyphicon-remove"></span><br> Cancelar comanda
				</div>
			</div>
		</div>
	</div>		
	<script src="js/jquery-2.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/comandas.js"></script>
</body>
</html>