<!DOCTYPE html>
<html lang="es" ng-app="restComandas">
<head>
	<meta charset="UTF-8">
	<title>Comandas</title>
	<script src="js/angular.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.css">	
	<link rel="stylesheet" href="css/comandas.css">
</head>
<body ng-controller="ComandasController as comandasCtrl">
	
	<div class="container-fluid" >
		<div id="comandas">
			<div ng-click="comandasCtrl.mesaClk(mesa.id)" class="btn-mesa btn"  ng-class="{'btn-success': mesa.edo==0,'btn-warning': mesa.edo==1 , 'btn-danger': mesa.edo==2}" ng-repeat="mesa in comandasCtrl.mesas" id="mesa{{mesa.id}}">
				<h3>{{mesa.id}}</h3>
				<img src="imgs/table.png" height="75px">
				<h3>Sillas: {{mesa.numSillas}}</h3>
			</div>
		</div>
	</div>	
	<div>
		<div class="container-fluid" id="menu_comanda">
			<br>
			<br>

			<div id="tabs-comanda" class="container" role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs nav-justified" role="tablist">
					<li role="presentation" ng-repeat="cat in comandasCtrl.categos" ng-class="{true: 'active'}[cat.id == 1]">
						<a href="#{{cat.nombre}}" aria-controls="{{cat.nombre}}" role="tab" data-toggle="tab">{{cat.nombre | capitalize}}</a>
					</li>
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
					<div ng-repeat="cat in comandasCtrl.categos" role="tabpanel" class="tab-pane " id="{{cat.nombre}}" ng-class="{true: 'active'}[cat.id == 1]">					
						<div class="btn-prod" ng-repeat="prod in comandasCtrl.prods" ng-if="cat.id==prod.idCategoria">
							<img ng-click="prod.cantidad=prod.cantidad+1 " src="imgs/{{prod.id}}.jpg"/><br>
							<center><h4>{{prod.nombre}}</h4></center>
						</div>						
						<!-- <table class="table table-striped ">
							<thead>
								<tr>
									<th>Producto</th>
									<th>Precio</th>
									<th>Descripcion</th>
									<th>Cantidad</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="prod in comandasCtrl.prods"  ng-if="cat.id==prod.idCategoria">
									<td hidden>{{prod.id}}</td>
									<td>{{prod.nombre}}</td>
									<td >{{prod.precio | currency}}</td>
									<td>{{prod.desc}}</td>
									<td>
										<div ng-click="prod.cantidad=prod.cantidad+1" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></div>
										{{prod.cantidad}}
										<div ng-click="prod.cantidad=prod.cantidad-1" class="btn btn-primary"><span class="glyphicon glyphicon-minus"></span></div>
									</td>
								</tr>												
							</tbody>
						</table> -->

					</div>
					<div role="tabpanel" class="tab-pane" id="tab">
					</div>
				</div>
			</div>
			<div id="btns_comanda" class="container" >
				<div id="ingresa_comanda" ng-click="comandasCtrl.mandaComanda(); comandasCtrl.ingresaComanda()" class="btn btn-primary col-md-4">
					<span class="glyphicon glyphicon-plus"></span><br>Ingresar comanda
				</div>
				<div id="cobra_mesa" class="btn btn-success col-md-4" ng-click="comandasCtrl.cobraMesa();" ng-if="comandasCtrl.mesas[comandasCtrl.n_mesa].edo==2">
					<span class="glyphicon glyphicon-usd"></span><br>Cobrar mesa {{comandasCtrl.mesas[comandasCtrl.n_mesa].edo}}
				</div>
				<div ng-click="comandasCtrl.resetCantidad(); comandasCtrl.cancelComanda()" id="cancel_comanda" class="btn btn-danger col-md-4">
					<span class="glyphicon glyphicon-remove"></span><br> Cancelar comanda 
				</div>
			</div>
		</div>
	</div>		
	<div class="Salir">
	<center><button type="button" class="btn btn-default" id="regresar" onclick="window.location.href='index.html'">
			<h5 class="animated infinite bounce"><b>regresar</b></h5>
		</button></center>
	</div>
	<script src="js/jquery-2.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/comandas.js"></script>
</body>
</html>